
# 忽略properties文件
*.properties

# 忽略指定文件
config.properties

# 忽略所有.env文件
*.env

# 忽略node_modules文件夹
node_modules/

# 忽略.vscode文件夹
.vscode/
Section 1/Project Folders/Auto-Gippity Full Code Download/.env
